<div class="container">
    <div class="dropdown">
    <button class="btn-danger btn-lg dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%"><b>Season 1: AngularJS 2</b></button>
    <ul class="dropdown-menu" style="width:100%">
        <table class="table">
          <thead>
          <tr>
            <th>Project Name</th>
            <th>Created</th>
            <th>Technology Used</th>
            <th>Started</th>
            <th>Ended</th>
            <th><th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <td>Intro to AngularJS 2</td>
            <td>Home Page</td>
            <td>Angular2</td>
            <td>16/2/2017</td>
            <td>GitHub Link</td>
            <td>-<td>
          </tbody>
          <tbody>
            <td>Calling GitHub API</td>
            <td>API</td>
            <td>Angular2</td>
            <td>16/2/2017</td>
            <td>-</td>
             <td><a href="https://github.com/TsuiSauChi/githubapi-searchbar">Link</a></td>
            <td><a routerLink="/profile">Link</a><td>
          </tbody>
          <tbody>
            <td>Calling Spotify API</td>
            <td>API</td>
            <td>Angular2</td>
            <td>-</td>
            <td>-</td>
            <td><a href="https://github.com/TsuiSauChi/spotifyAPI">Link</a><td>
            <td></td>
          </tbody>
          <tbody>
            <td>MeanToDo</td>
            <td>Database</td>
            <td>Angular2, mLab</td>
            <td>-</td>
            <td>-</td>
            <td><a href="https://github.com/TsuiSauChi/spotifyAPI">Link</a><td>
            <td></td>
          </tbody>
            <tbody>
            <td>MyNotes</td>
            <td>Database</td>
            <td>Ionic, mLab</td>
            <td>-</td>
            <td>-</td>
            <td>-<td>
            <td></td>
          </tbody>
          <tbody>
            <td>Auth0app</td>
            <td>Authentication</td>
            <td>Angular2, Auth0</td>
            <td>-</td>
            <td>-</td>
            <td>-<td>
            <td></td>
          </tbody>
        </table>
    </ul>
    </div>
</div>